<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
}

#navthing {
  margin-left: 50px;
}

h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
}


.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="text"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="text"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

</style>

  
</head>

<body>
  <div class="container">
     <div class="row">
   <div class="col-md-5 col-md-offset-4">
  <div id="wrap">
  <div id="regbar">
    <div id="navthing">
      
    <div class="login">
      <h2 style="text-align:center;">Business Login</h2>
      <div class="formholder">
        <div class="randompad">
           <fieldset>
            <span style="color:red; margin: 10px;"> <strong></strong></span>
            <form action="/business_signup" method="post">
             <label name="username">Business Username</label>
             <input type="text" value="" name="username" id="username" placeholder="Username" required />
             <label name="username">Business Email</label>
             <input type="text" value="" name="email" id="email" placeholder="Email" required />
             <label name="password">Password</label>
             <input type="password" name="password" id="password" placeholder="Password" required/>
             <input type="submit" value="Sign Up" />
            </form>
            <br>
           </fieldset>


        </div>
      </div>
    </div>
    </div>
  </div>
</div>
   </div>
  </div>
</div>

</body>
</html>
